$periwinkle-crayola: rgba(197, 209, 235, 1);
$wild-blue-yonder: rgba(146, 175, 215, 1);
$cadet: rgba(90, 118, 132, 1);
$feldgrau: rgba(57, 91, 80, 1);
$phthalo-green: rgba(31, 47, 22, 1);

body {
	background-color: $periwinkle-crayola;
}

nav {
	text-align: center;
	background-color: $cadet;
	padding: .5rem;
}

.hero, .about, .contact {
	padding-bottom: 4rem;
}

footer {
	margin-top: 1rem;
	padding: 1rem;
	background-color: $cadet;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}